<h1>Profile page</h1>

<%if(locals.user.id==profile_user.id) {%>
    <p><%= profile_user.name%></p>

<%}else {%>
    <p><%= profile_user.name%></p>
    <p><%= profile_user.email%></p>
    <form action="/friend/create-friend" method="post">
        <input type="hidden" name="userId" id="" value="<%=profile_user._id%>">
        <button id="btn" type="submit"><%if(locals.user.friendships.includes(profile_user._id)) {%>
            Remove Friend
            <%}else {%>
            
                Add Friend
                <%}%>
        </button>
    </form>
<%}%> 
