#sign-up-page{
    width: 40vw;
    height: auto;
    margin-top: 5%;
    margin-left: 20%;
}

#sign-up-btn{
    height: 40px;
    width: 70px;
}

#login-page{
    width: 40vw;
    height: auto;
    margin-top: 5%;
    margin-left: 20%;
}
#layout-main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;

}
.fabutton {
    background: none;
    padding: 0px;
    border: none;
  }

